<h1>Edit product</h1>
<%= @product.assistants %>

<%= form_with model: [current_user, @product], local: true do |form| %>
  <%= form.label :category_id, "Select category:", class: "form-label" %><br>
  <%= form.collection_select :category_id, Category.all, :id, :name, prompt: 'Select category' %>
  <%= form.label :name, "Products Name:" %><br>
  <%= form.text_field :name %>
  <%= form.label :description, "Products Description" %><br>
  <%= form.text_area :description, size: "30x10" %>
  <%= form.label :assistants, "Number of Assistants" %><br>
  <%= form.number_field :assistants %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit %>
<% end %>