<h1>All Products</h1>

<% @products.each do |product| %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= product.assistants %> </h6>
    <p class="card-text"><%= product.description %></p>
    <% if current_user %>
        <%= link_to 'Edit', edit_product_path(product), class: 'card-link' %>
        <%= link_to 'Delete', product_path(product), class: 'card-link', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <div>
    <p><%= product.like %></p>
    <p><%= product.comments_counter %></p>
  </div>
</div>
<% end %>