 <div class="container">
    <div class="row justify-content-center mt-5">
        <!-- Blog entries-->
        <div class="col-8">
            <!-- Featured blog post-->
            <div class="card mb-4 border-0 shadow p-3 mb-5 bg-body-tertiary rounded">
                <a href="#!"><img class="w-100" src="https://picsum.photos/id/73/900/600" style=" height: 500px"/></a>
                <div class="card-body">
                    <div class="small text-muted"><p><%= @product.category.name %></p></div>
                    <h2 class="card-title"><%= @product.name %></h2>
                    <p class="card-text"><%= @product.description %></p>
                    <% if current_user == @product.owner_id %>
                      <%= link_to edit_user_product_path(current_user, @product), class: 'btn btn-secondary bg-white border-0' do %>
                        <i class="bi bi-pencil-square" style="font-size: 1.5rem; color: blue;"></i>
                      <% end %>
                      <%= link_to user_product_path(current_user, @product), class: 'btn btn-danger border-0 bg-white', method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="bi bi-trash" style="font-size: 1.5rem; color: red;"></i>
                      <% end %>
                    <% end %>
                    <div class="d-flex flex-row-reverse">
                      <div class="d-flex align-items-center mx-2">
                        <i class="bi bi-chat-left-dots mx-2" style="font-size: 1.5rem; color: blue;"></i> <%= @product.comments.count %>
                      </div>
                      <% if @like %>
                      <div class="d-flex">
                        <div class="d-flex align-items-center mx-2">
                          <%= form_with model: @like,  url: user_product_like_path(current_user, @product, @like), method: :delete, local: true do |form| %>
                              <%= form.hidden_field :product_id, value: @product.id %>
                              <%= form.hidden_field :user_id, value: current_user.id %>
                              <%= button_tag(type: 'submit', class: 'border-0 bg-white') do %>
                                <i class="bi bi-hand-thumbs-up-fill" style="font-size: 1rem; color: blue;"></i>
                              <% end %>
                          <% end %>
                          <div class="m-none"><%= @product.likes.count %></div>
                        </div>
                      </div>
                      <% else %>
                        <%= form_with model: Like.new,  url: user_product_likes_path(current_user, @product), local: true do |form| %>
                            <%= form.hidden_field :product_id, value: @product.id %>
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <%= button_tag(type: 'submit', class: 'border-0 bg-white') do %>
                              <i class="bi bi-hand-thumbs-up" style="font-size: 1.5rem; color: blue;"></i>
                            <% end %>
                        <% end %>
                      <p class="my-auto"><%= @product.likes.count %></p>
                      <% end %>
                    </div>
                </div>
            </div>
            <div>
              <% if @product.events.any? %>
                <div class="d-flex my-4 justify-content-between">
                    <%= link_to 'Add a Comment', new_user_product_comment_path(current_user, @product), class: 'btn btn-info' %>
                    <%= link_to 'View product events', user_product_events_path(@product.owner_id, @product ), class: 'btn btn-info ml-auto' %>
                  <% else %>
                <div class="my-4">
                    <%= link_to 'Add a Comment', new_user_product_comment_path(current_user, @product), class: 'btn btn-info' %>
                    <p class="my-4"><span class="fw-bold">Note:</span>This product doesnt have an event yet!</p>
                </div>
              <% end %>

                <% if current_user.id == @product.owner_id %>
                  <%= link_to 'Create Event', new_user_product_event_path(current_user, @product), class: 'btn btn-info mx-2' %>
                <% end %>
              </div>
              <% @product.comments.each do |comment| %>
                <div class="card my-5 border-0 shadow p-3 mb-5 bg-body-tertiary">
                  <div class="card-header border-0">
                    <p><span class="fw-bold">Author:</span> <%= comment.author.fname %></p>
                  </div>
                  <div class="card-body border-0">
                    <%= comment.text %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>




