 <div class="container">
    <div class="row justify-content-center mt-5">
        <!-- Blog entries-->
        <div class="col-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">January 1, 2023</div>
                    <h2 class="card-title"><%= @product.name %></h2>
                    <p class="card-text"><%= @product.description %></p>
                    <%= link_to 'Leave a Comment', new_user_product_comment_path(current_user, @product), class: 'btn btn-info' %>
                    <%= link_to 'Edit', edit_user_product_path(current_user, @product), class: 'btn btn-secondary' %>
                    <%= link_to 'Delete', user_product_path(current_user, @product), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                    <p>Comments: <%= @product.comments.count %></p>
                    <p>Likes: <%= @product.likes.count %></p>
                    <% if @like %>
                      <%= form_with model: @like,  url: user_product_like_path(current_user, @product, @like), local: true, method: :delete do |form| %>
                          <%= form.hidden_field :product_id, value: @product.id %>
                          <%= form.hidden_field :user_id, value: current_user.id %>
                          <%= button_tag(type: 'submit', class: 'border-0 bg-white') do %>
                            <i class="bi bi-bookmark-fill" style="font-size: 1.5rem; color: blue;"></i>
                          <% end %>
                      <% end %>
                    <% else %>
                      <%= form_with model: Like.new,  url: user_product_likes_path(current_user, @product), local: true do |form| %>
                          <%= form.hidden_field :product_id, value: @product.id %>
                          <%= form.hidden_field :user_id, value: current_user.id %>
                          <%= button_tag(type: 'submit', class: 'border-0 bg-white') do %>
                            <i class="bi bi-bookmark" style="font-size: 1.5rem; color: blue;"></i>
                          <% end %>
                      <% end %>
                    <% end %>
                </div>
            </div>
            <div>
              <% @product.comments.each do |comment| %>
                <div class="card my-4">
                  <div class="card-header">
                    <%= comment.author.fname %>
                  </div>
                  <div class="card-body">
                    <%= comment.text %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>




