 <div class="container">
    <div class="row justify-content-center mt-5">
        <!-- Blog entries-->
        <div class="col-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted"><p><%= @product.created_at %></p></div>
                    <h2 class="card-title"><%= @product.name %></h2>
                    <p class="card-text"><%= @product.description %></p>
                    <%= link_to edit_user_product_path(current_user, @product), class: 'btn btn-secondary bg-white border-0' do %>
                      <i class="bi bi-pencil-square" style="font-size: 1.5rem; color: blue;"></i>
                    <% end %>
                    <%= link_to user_product_path(current_user, @product), class: 'btn btn-danger border-0 bg-white', method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="bi bi-trash" style="font-size: 1.5rem; color: red;"></i>
                    <% end %>
                    <div class="d-flex flex-row-reverse">
                      <div class="d-flex align-items-center mx-2">
                        <i class="bi bi-chat-left-dots mx-2" style="font-size: 1.5rem; color: blue;"></i> <%= @product.comments.count %>
                      </div>
                      <% if @like %>
                      <div class="d-flex">
                        <div class="d-flex align-items-center mx-2">
                          <%= form_with model: @like,  url: user_product_like_path(current_user, @product, @like), local: true, method: :delete do |form| %>
                              <%= form.hidden_field :product_id, value: @product.id %>
                              <%= form.hidden_field :user_id, value: current_user.id %>
                              <%= button_tag(type: 'submit', class: 'border-0 bg-white') do %>
                                <i class="bi bi-hand-thumbs-up-fill" style="font-size: 1rem; color: blue;"></i>
                              <% end %>
                          <% end %>
                          <div class="m-none"><%= @product.likes.count %></div>
                        </div>
                      </div>
                      <% else %>
                        <%= form_with model: Like.new,  url: user_product_likes_path(current_user, @product), local: true do |form| %>
                            <%= form.hidden_field :product_id, value: @product.id %>
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <%= button_tag(type: 'submit', class: 'border-0 bg-white') do %>
                              <i class="bi bi-hand-thumbs-up" style="font-size: 1.5rem; color: blue;"></i>
                            <% end %>
                        <% end %>
                      <% end %>
                      <p class="my-auto"><%= @product.likes.count %></p>
                    </div>
                </div>
            </div>
            <div>
              <%= link_to 'Add a Comment', new_user_product_comment_path(current_user, @product), class: 'btn btn-info' %>
              <% @product.comments.each do |comment| %>
                <div class="card my-4">
                  <div class="card-header">
                    <%= comment.author.fname %>
                  </div>
                  <div class="card-body">
                    <%= comment.text %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>




