<!DOCTYPE html>
<html>
  <head>
    <title>RailsMarketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Responsive navbar-->
    <%= render 'shared/nav' %>

    <div class="container">
      <% if flash.any? %>
        <div> 
          <% flash.each do |key, message| %>
            <div class="alert <%= key == 'notice' ? 'alert-success' : 'alert-danger' %>" role="alert">
              <div class="btn">
                <%= message %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
